<div class="ws-border">
  <div *ngIf="isLoading$ | async; else grid" class="spinner-container">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template #grid>
    <div class="grid-row" *ngFor="let gr of gridData; let i = index">
      <div
        #letters
        class="grid-item"
        *ngFor="let g of gr; let j = index"
        style.background-color="white"
        id="({{ i }},{{ j }})"
      >
        {{ g }}
      </div>
    </div>
  </ng-template>
</div>
