<ng-container *ngIf="ab$ | async as ab">
  <div fxLayout="row">
    <div>
      <wordsearch-grid [gridData]="ab.grid" [highlightedWord]="selectedWord" [isLoading]="logicService.isLoading">
      </wordsearch-grid>
    </div>
    <div>
      <wordsearch-bank class="ws-bank" [bank]="ab.wordBank" (onHover)="getHoveredWord($event)">
      </wordsearch-bank>
      <button *ngIf="!logicService.isLoading" mat-raised-button color="primary" (click)="buildWordSearch()">
        Get New Wordsearch
      </button>
      <mat-checkbox>Show words only</mat-checkbox>
    </div>
  </div>
</ng-container>