.bank-items {
  list-style-type: none;
  font-family: 'Muli';
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.bank-header {
  align-items: center;
}

.bank-item {
  cursor: pointer;
}
