@import '../../../styles';

:host {
  height: 100%;
}

h4 {
  display: flex;
  justify-content: center;
}

.bank {
  &-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  &-item {
    justify-self: center;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: $highlight-color;
    }

    &-found {
      text-decoration: line-through;
      pointer-events: none;
      color: gray;
      opacity: 50%;
    }
  }
}
