.ws-form {
  border: 1px solid;
}

.error-msg {
  color: red;
  padding-left: 5px;
  padding-right: 5px;
}

.ng-invalid:not(form) {
  border-color: red;
}

.form-field {
  width: 100%;
}

.mat-button {
  float: right;
  border-radius: 0;
}
