<h3 mat-dialog-title>
  Settings
</h3>
<div *ngIf="wordsearchFormData$ | async" mat-dialog-content>
  <form [formGroup]="wordsearchForm">
    <mat-form-field class="form-field">
      <mat-label>Wordsearch Size</mat-label>
      <input matInput formControlName="wordsearchSize">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Min Word Length</mat-label>
      <input matInput formControlName="minWordLength">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Max Word Length</mat-label>
      <input matInput formControlName="maxWordLength">
    </mat-form-field>
    <div class="form-row">
      <button mat-raised-button (click)="onSave()">Save</button>
      <button mat-raised-button (click)="onClose()">
        Close
      </button>
    </div>
  </form>
</div>