mat-dialog-content {
  overflow: visible;
}

.ng-invalid:not(form) {
  border-color: red;
}

.form {
  &-header {
    position: relative;
    bottom: 8px;
  }

  &-icon {
    position: relative;
    top: 6px;
  }

  &-field {
    width: 100%;
  }

  &-error {
    color: red;
  }
}
