<ws-navbar></ws-navbar>
<ng-container *ngIf="wordSearchData$ | async as wordSearchData; else spinner">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" style="margin-left: 10px;">
      <mat-checkbox (change)="switchGrids($event)">Show words only</mat-checkbox>
      <div>
        <wordsearch-grid [gridData]="showWordsOnly ? wordSearchData.gridWordsOnly : wordSearchData.grid">
        </wordsearch-grid>
        <button style="width: 85vh;" mat-raised-button color="primary" (click)="buildWordSearch()">
          New Wordsearch
        </button>
        <div></div>
      </div>
    </div>
    <div style="margin-top: 24px; position: relative; left: 12px;">
      <wordsearch-bank class="ws-bank" [bank]="wordSearchData.wordBank"> </wordsearch-bank>
    </div>
  </div>
</ng-container>
<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
