<ng-container *ngIf="wordSearchData$ | async as wordSearchData">
  <div class="grid-container">
    <wordsearch-grid [gridData]="wordSearchData.grid"> </wordsearch-grid>
  </div>
  <div class="bank-container">
    <wordsearch-form [wordsearchForm]="wordSearchData.wordsearchForm" [categories]="wordSearchData.categories">
    </wordsearch-form>
    <hr />
    <wordsearch-bank class="ws-bank" [wordConfigurationData]="wordSearchData.wordConfigurationData"> </wordsearch-bank>
  </div>
</ng-container>
