[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
flask="*"
flask_cors="*"
webargs="*"
flask_restful="*"
requests="*"
Wordsearch-Generator = {version = "*", path='./packages/Wordsearch_Generator-0.1.4-py3-none-any.whl'}

[pipenv]
allow_prereleases = true
